page-forgot-password {
  .fixed-content{
    background-image: url(../assets/imgs/forget_password_bg.jpg);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    opacity: .8;
  }
  .toolbar-title{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
  }
  .toolbar{
    min-height: 50px;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: #fff;
  }
  button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button{
    color: #fff;
  }
  .segment-md .segment-button{
    text-transform: inherit;
    font-size: 14px;
  }
  .img-logo{
    margin: 0 auto;
    display: block;
  }
  input{
    padding: 10px 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 13px;
    margin-bottom: 12px;
  }
  .desin1{
    margin-top:30px;
    width: 100%;
  }
  .forgot{
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 11px;
  }
  .text-center{
    text-align: right;
  }
  .btn-login{
   
    font-size: 13px;
    text-transform: inherit;
    border-radius: 2px;
  }
  .btn-fb{
    background-color: #3b5998;
    color: #fff;
    font-size: 13px;
    text-transform: inherit;
    margin-top: 11px;
    border-radius: 2px;
  }
  .btn-sign{
    background-color: transparent;
    color: #000;
    box-shadow: none;
    font-size: 13px;
    margin-top: 19px;
    text-transform: inherit;
  }
  ion-title{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 12px;
  }
}
