page-cancellation-policy {
 
  h3{
    font-size: 18px;
    text-align: center;
    color: #177ec0;
    margin: 7% 0 10%;
    font-weight: 400;
  }

  p{
    font-size: 20px;
    line-height: 26px;
    color: #666;
    padding: 10px 16px;
    font-weight: 300;
  }
  .scroll-content {
    background: #f6f7fb;
}
ion-title{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 12px;
}
}
