page-editlocation {
    .header-i button{
        background-color: transparent;
        padding: 5px;
      }
      .header-i{
        position: absolute;
        right: 16px;
        top: 12px;
      }
      ion-title{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 12px;
      }
}
