<!--
  Generated template for the UpdatePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      
    <ion-title>Update Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<p>It's a good idea to use a strong password that you don't use elsewhere</p>
  
    <div class="desin1">
        <form [formGroup]="authForm" >
            <div *ngIf="authForm.controls.oldpwd.hasError('required') && authForm.controls.oldpwd.touched">
                <p class="com">Password Required</p>
            </div>

              <div *ngIf="authForm.controls.oldpwd.hasError('minlength') && authForm.controls.oldpwd.touched">
                  <p class="com">Minimum Password length is 6!</p>
              </div>
            <div [ngClass]="{'error-border':!authForm.controls.oldpwd.valid && authForm.controls.oldpwd.touched}">
                <ion-input placeholder="Current  password" type="password" formControlName="oldpwd"></ion-input>
            </div>
      
        <div *ngIf="authForm.controls.newpwd.hasError('required') && authForm.controls.newpwd.touched">
            <p class="com">Password Required</p>
        </div>
          <div *ngIf="authForm.controls.newpwd.hasError('minlength') && authForm.controls.newpwd.touched">
              <p class="com">Minimum Password length is 6!</p>
          </div>
          <div [ngClass]="{'error-border':!authForm.controls.newpwd.valid && authForm.controls.newpwd.touched}">
              <ion-input placeholder="New password" type="password" formControlName="newpwd"></ion-input>
          </div>
     
      <div *ngIf="authForm.controls.cnfpwd.hasError('required') && authForm.controls.cnfpwd.touched">
          <p class="com">Password Required</p>
      </div>
        <div *ngIf="authForm.controls.cnfpwd.hasError('minlength') && authForm.controls.cnfpwd.touched">
            <p class="com">Minimum Password length is 6!</p>
        </div>
        <div [ngClass]="{'error-border':!authForm.controls.cnfpwd.valid && authForm.controls.cnfpwd.touched}">
            <ion-input placeholder="Re-Enter new password" type="password" formControlName="cnfpwd"></ion-input>
        </div>

      <button class="btn-login" ion-button full  (click)="onSubmit(authForm.value)" type="submit" >Save Changes</button>
</form>
    </div>
  
</ion-content>
